
<% cache do %>
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style='font-size: 14px, font-family: Arial, Helvetica, sans-serif'>
    <h1 style='color: red'>Welcome to example.com, <%= @user.name %></h1>
    <%# this displays image %>
    <p>
      You have successfully signed up to example.com,ma
      your username is: <%= @user.login %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
<% end %>